  {{#each top10 as |candidate|}}
    <div class="row u-text-center panel">
      <div class="col-lg-2 col-lg-offset-3">
        <h1>
          <div>
            {{candidate.totalVotes}}
          </div>
          <div class="glyphicon glyphicon-ok u-hand {{if candidate.votes.length 'u-green-text'}}" {{action 'vote' candidate}}/>
        </h1>
      </div>
      <div class="col-lg-2">
        <a class="candidate-link" href="{{candidate.descriptionUrl}}" target="_blank">
          <div class="candidate-normal img-rounded" style="background-image:url('{{candidate.imageUrl}}')">
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <h1>{{candidate.fullName}}</h1>
      </div>
    </div>
  {{/each}}

{{#each model as |candidate|}}
  <div class="candidate-micro-wrap">
    <div class="candidate-micro" style="background-image:url('{{candidate.imageUrl}}')">
      <span>{{candidate.fullName}}</span>
      <a class="mini-button glyphicon glyphicon-user u-hand mini-left" href="{{candidate.descriptionUrl}}" target="_blank"/>
      <div class="mini-button glyphicon glyphicon-ok u-hand mini-right {{if candidate.votes.length 'u-green-text'}}" {{action 'vote' candidate}}/>
    </div>
  </div>
{{/each}}
{{outlet}}
